@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

html {
  /* background-color: #202132; */
  background-color: #ef243c;
  color: #e9eff1;
  font-family: Roboto Mono;
  font-weight: 300;
  font-size: 1rem;
}

body {
  margin: 0px;
  padding: 0px;
}

input {
  font-family: Roboto Mono;
}